<div class="title">
    <div class="date">
        <div class="day">{{today | date:'d'}}</div>
        <div class="month">{{today | date:'MMM'}}</div>
    </div>
    <div class="caption">New Phrases For Today</div>
</div>
<div class="flex">
    <aside [@shown-hidden]="asideCardState" (@shown-hidden.done)="onAsideCardTransitionDone($event)">
        <div class="plus" (click)="toggleAsideCardState()">
            <span class="icon-plus"></span>
        </div>
        <app-card #card [editMode]="true" (editEvent)="createNewCard()"></app-card>
    </aside>
    <app-card-list></app-card-list>
</div>
